<section id=quotations_list>
<h1>Lista de Orçamentos</h1>
<% if @quotations.any? %>
  <table>
      <thead>
      <tr>
        <th>Orçamento #:</th>
        <th>Data do Orçamento:</th>
        <th>Peso:(kg)</th>
        <th>Altura:</th>
        <th>Largura:</th>
        <th>Profundidade:</th>
        <th>Distância:</th>
      </tr>  
      </thead>
      <tbody>
        <% @quotations.each do |q| %>
          <tr>
            <td><%= link_to q.quotation_code, quotation_path(q.id) %></td>
            <td><%= I18n.localize(q.quotation_date) %></td>
            <td><%= q.weight / 1000.0 %></td>
            <td><%= q.height %></td>
            <td><%= q.width %></td>
            <td><%= q.depth %></td>
            <td><%= q.distance%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else  %>
    <p>Nenhum Orçamento cadastrado</p>
<% end %>
<hr>
<div>
  <%= link_to 'Home', root_path %>  | <%= link_to 'Cadastrar Orçamento', new_quotation_path %>
</div>

</section>