<section id=warehouse_list>
<h1>Lista de Depósitos</h1>
<% if @warehouses.any? %>
  <table>
      <thead>
      <tr>
        <th>Nome:</th>
        <th>Endereço:</th>
        <th>Cidade:</th>
        <th>Estado:</th>
        <th>Código:</th>
      </tr>  
      </thead>
      <tbody>
        <% @warehouses.each do |w| %>
          <tr>
            <td><%= w.name%></td>
            <td><%= w.address %></td>
            <td><%= w.city %></td>
            <td><%= w.state %></td>
            <td><%= w.code%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else  %>
    <p>Nenhum Depósito cadastrado</p>
<% end %>
<hr>
<div>
  <%= link_to 'Home', root_path %>  | <%= link_to 'Cadastrar Depósito', new_warehouse_path %>
</div>

</section>