<!DOCTYPE html>
<html>
  <head>
    <title>CarrierApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1>Sistema de Entregas</h1>
      <nav>
        <%= link_to 'Transportadoras', carriers_path %> | <%= link_to 'Veículos', vehicules_path %> | <%= link_to 'Preços', carrier_prices_path %> | <%= link_to 'Prazos', delivery_periods_path %> | <%= link_to 'Orçamentos', quotations_path %> | <%= link_to 'Clientes', customers_path %> | <%= link_to 'Produtos', products_path %>
      </nav>
    </header>
    <main>
      <div>
        <%= alert %>
        <%= notice %>
      </div>
      <%= yield %>
    </main>  
  </body>
